.header{
    margin-top: 50px;
    background-color: #003580;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap:40px;
}
.headerListItem.active{
    border:1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerSearch{
    height: 30px;
    background-color: #fff;
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchButton{
 height: 40px;
}
.headerSearchInput{
    border:none;
    outline: none;
}
.headerSearchText{
    color:lightgray;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
}
.options{
    /* position: absolute; */
    top: 50px;
    background-color: #fff;
    color: gray;
   border-radius: 5px;
}
.optionItem{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 20px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap:10px;
    font-size:12px ;
}
.optionCounterButton{
    width:30px;
    height:30px;
    border-color: 1px solid #0071c2;
    color:#0071c2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}